{% extends "blog.html" %}
{% block head %}
{{ super() }}
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
<meta name="twitter:title" content="{{ SITENAME }} ~ {{ article.title }}">
<meta name="twitter:description" content="{{ article.summary|striptags|escape }}">

<!-- Facebook Meta Data -->
<meta property="og:title" content="{{ SITENAME }} ~ {{ article.title }}" />
<meta property="og:description" content="{{ article.summary|striptags|escape  }}" />
<meta property="og:image" content="" />
{% endblock head %}
{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<section id="content">
  <!-- <h2 class="post_title post_detail"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a></h2> -->
  {% from "article_title.html" import article_title %}
  {{ article_title(article, 2, "post_title post_detail")}}
  <!-- <h2 class="post_title post_detail"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a></h2> -->
  <div class="entry-content blog-post">
    {{ article.content }}
  </div>
  {% include "article_signature.html" with context %}
</section>
{% endblock %}
