<!doctype html>
<html lang="{{ DEFAULT_LANG }}" itemscope itemtype="http://schema.org/Person">
  <head>
    {% block head %}
    <meta charset="utf-8">

    <!-- Site Meta Data -->
    <title>{% block title %} {{ SITENAME }} | {{ SIDEBAR_DIGEST }} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ AUTHOR_DESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">

    <link rel="shortcut icon" href="{{ FAVICON }}">

    <!-- schema.org -->
    <meta itemprop="name" content="{{ SITENAME }}">
    <meta itemprop="image" content="{{ AVATAR}}">
    <meta itemprop="description" content="{{ AUTHOR_DESCRIPTION }}">

    <!-- Style Meta Data -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Feed Meta Data -->
    {% if FEED_ALL_ATOM %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    <!-- Twitter Feed -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:image" content="">
    {% endblock %}
  </head>

  <body>

    <!-- wrapper and main for sticky footer -->
    <div class="wrapper">
      <div class ="main">

        <!-- Sidebar -->
        <aside>
          <a href="{{ SITEURL }}"><h1 id="sitename">{{ SITENAME }}</h1></a>
          {% if SIDEBAR_DIGEST %}<p>{{ SIDEBAR_DIGEST }}</p>{% endif %}

          <br>

          <nav class="nav">
            <ul class="list-bare">

              {% for title, link in MENUITEMS %}
              <li><a class="nav_link" href="{{ link }}">{{ title }}</a></li>
              {% endfor %}

              {% if DISPLAY_PAGES_ON_MENU and pages %}
              <li><a class="nav_link" href="{{ SITEURL }}/pages/am.html">
                <span class="default">Who I am</span>
                <span class="hover">Bio</span>
              </a></li>
              <li><a class="nav_link" href="{{ SITEURL }}/pages/did.html">
                <span class="default">What I did</span>
                <span class="hover">Resume</span>
              </a></li>
              <li><a class="nav_link" href="{{ SITEURL }}/pages/read.html">
                <span class="default">What I read</span>
                <span class="hover">Reading list</span>
              </a></li>
              <li><a class="nav_link" href="{{ SITEURL }}/do.html">
                <span class="default">What I do</span>
                <span class="hover">Blog</span>
              </a></li>
              {% endif %}

            </ul>
          </nav>

          {% block categories %}
          {% endblock %}

        </aside>

        <!-- Content -->
        <article>
          {% block content %}
          {% endblock %}
        </article>

      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="rc-scout"></div>
    </footer>
    <!-- RC Scout -->
    <script async defer src="https://www.recurse-scout.com/loader.js?t=8ee529bb51c0ad21d73b98a45a13d144"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
