{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:url" content="{{ SITEURL }}">
<meta name="twitter:title" content="{{ SITENAME }}">
<meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

<!-- Facebook Meta Data -->
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:description" content="{{ SIDEBAR_DIGEST }}" />
<meta property="og:image" content="" />
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}
<h1 class="title">{{ AUTHOR }}</h1>

<section id="content" class="body">

  <p>This is the personal website of <strong>Diego Leonardo Torres Navarrete</strong>
    (or Diego Torres (or Leo Torres (or Leo))).</p>

  <p><a href="pages/am.html">This</a> is who I am <i>(aka bio)</i>.</p>
  <p><a href="pages/did.html">This</a> is what I did <i>(aka CV)</i>.</p>
  <p><a href="pages/read.html">This</a> is what I read <i>(aka probably outdated and certainly incomplete list of things I read)</i>.</p>
  <p><a href="do.html">This</a> is what I do <i>(aka blog)</i>.</p>

  <p>If that's <i>still</i> not enough for you, I guess you can <a href="{{ SOCIAL['email'] }}">
  write</a> to me, review my <a href="{{ SOCIAL['github'] }}">code</a>, or
  <a href="{{ SOCIAL['twitter'] }}">follow</a> me, or whatever. </p>

</section>
{% endblock content %}
